/* CSS Document */

/* Remove o sublinhado de um link */
a {text-decoration:none;}

/* Adiciona uma linha sobre o texto */
h1 {text-decoration:overline;}

/* Risca o texto */
h2 {text-decoration: line-through;}

/* Sublinha o texto */
h3 {text-decoration:underline;}

/* Faz o texto piscar (num todos os browsers aceitam esta opção) */
h4 {text-decoration:blink;}