@charset="UTF-8";

body {
	background-color: rgb(15, 156, 100);
}

h1 {
	position: absolute;
	left: 600px;
	font-size: 50pt;
	color: red;
}

h2 {
	position: absolute;
	top: 400px;
	left: 750px;
	right: 720px;
	padding: 10px;
	border: solid 3px black;
	text-align: center;
}

h2:hover {
	background-color: #cecece;
}

img {
	position: relative;
	top: 150px;
	left: 450px;
	margin-left: 100px;


	

}
